
#quote-box {
 margin-top: 150px;
 padding: 20px ;
 background: rgba(4, 28, 73, 0.5);
 
}
#text{
  height: 80px;
  color: white;
  font-size: large;
}
#author {
  padding: 10px;
  padding-bottom: 20px;
  font-size: medium;
}
#button-row{
  background-color: coral;
  height: 20px;
}
a{
  color: white;
}